MYSQL_HOST=management.ctqigesoqgvs.ap-south-1.rds.amazonaws.com
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=REPLACE_WITH_SECURE_VALUE
MYSQL_DATABASE=hr_management

AUTO_CREATE_TABLES=false
ADMIN_BOOTSTRAP_EMAIL=admin@hr.local
ADMIN_BOOTSTRAP_PASSWORD=ChangeMe123!
